.chat
  .chat__info
    .chat__info__group-list
      .chat__info__group-list__group-name
        test
      .chat__info__group-list__member-name
        Member:name
      .chat__info__group-list__edit-btn
        Edit
  .message
    .message__list
      .message__list__name
        kr
      .message__list__date
        2020/6/5(fri)12:30:01
    .message__box
      .message__box__content
        こんにちは！
    .message__list
      .message__list__name
        pr
      .message__list__date
        2020/6/5(fri)12:40:01
    .message__box
      .message__box__content
        こんにちワン
  .chat-message
    %form.forms
      .form-inputbox
        %input.form-text{"placeholder": "type a message","type": "text"}
          %label{class: "image-btn"}
            = icon('fas', 'image')
            %input{type: "file", class: "img-file"}
        %input.form-submit{"name": "commit", "type": "submit", "value": "Send"}