.side-bar
  .side-bar__name
    .top-item
      .name
        name
      .icon 
        = link_to "#", class: "edit-btn" do
          =icon('far', 'edit')
        = link_to "#", class: "cog-btn" do
          =icon('fas', 'cog')
  .side-bar__group
    .side-bar__group__list
      .side-bar__group__name
        techcamp
      .side-bar__group__name
        techexpert
      .side-bar__group__message
        まだメッセージはありません